<br><br><br>

<div id="outer">


    <mat-form-field style="width: 20%; float:left">
        <mat-label>Caută</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>

    <button class="btn btn-success btn-block" (click)="exportexcel()"
        style="cursor: pointer; width:auto; color:white; float:left; margin-left: 2px; margin-right: 2px; margin-top: 8px">Descărcați
        excel admin</button>


    <button class="btn btn-primary btn-block" routerLink="/chestionar"
        style="cursor: pointer; width:auto; color:white; float:right; margin-left: 2px; margin-right: 2px; margin-top: 8px; font-size:12px">Chestionare
        monitori</button>
    <button class="btn btn-primary btn-block" routerLink="/scoring"
        style="cursor: pointer; width:auto; color:white; float:right; margin-left: 2px; margin-right: 2px; margin-top: 8px; font-size:12px">Pagină
        scoruri</button>
    <button class="btn btn-primary btn-block" routerLink="/math"
        style="cursor: pointer; width:auto; color:white; float:right; margin-left: 2px; margin-right: 2px; font-size:12px">Pagină
        alerte</button>
    <button class="btn btn-dark btn-block" routerLink="/organizare"
        style="cursor: pointer; width:auto; color:white; float:right; margin-left: 2px; margin-right: 2px; margin-top: 8px; font-size:12px"
        disabled>Pas 4 școli</button>
    <button class="btn btn-primary btn-block" routerLink="/preview"
        style="cursor: pointer; width:auto; color:white; float:right; margin-left: 2px; margin-right: 2px; font-size:12px">Pagină
        școli</button>


</div>



<div #organizareToExport>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <ng-container matColumnDef="crt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nr. </th>
            <td mat-cell *matCellDef="let element"> {{element.nr}} </td>
        </ng-container>

        <ng-container matColumnDef="nume">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nume </th>
            <td mat-cell *matCellDef="let element"> {{element.nume}} <button *ngIf="element.explicatie"
                    matTooltip="{{element.explicatie}}" matTooltipPosition="right"
                    aria-label="Button that displays a tooltip when focused or hovered over">
                    ?
                </button> </td>
        </ng-container>


        <!--<ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="judet">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Judet </th>
            <td mat-cell *matCellDef="let element"> {{element.judet}} </td>
        </ng-container>

        <ng-container matColumnDef="localitate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Localitate </th>
            <td mat-cell *matCellDef="let element"> {{element.localitate}} </td>
        </ng-container>

        <ng-container matColumnDef="mediu">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mediu </th>
            <td mat-cell *matCellDef="let element"> {{element.mediu}} </td>
        </ng-container>

        <ng-container matColumnDef="sirues">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cod SIRUES </th>
            <td mat-cell *matCellDef="let element"> {{element.sirues}} </td>
        </ng-container>
    -->

        <ng-container matColumnDef="raspuns71">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea L1</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns71}} </td>
        </ng-container>

        <ng-container matColumnDef="upload71">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Document </th>
            <td mat-cell *matCellDef="let element"> <a *ngIf="element.upload71" href={{element.upload71}}
                    class="btn btn-success btn-block" target="_blank">
                    Document
                </a> </td>
        </ng-container>


        <ng-container matColumnDef="raspuns72">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea L2</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns72}} </td>
        </ng-container>

        <ng-container matColumnDef="raspuns73">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea L3</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns73}} </td>
        </ng-container>

        <ng-container matColumnDef="raspuns5">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea A1</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns5}} </td>
        </ng-container>

        <ng-container matColumnDef="raspuns6">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea A2</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns6}} </td>
        </ng-container>

        <ng-container matColumnDef="raspuns7">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea A3</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns7}} </td>
        </ng-container>

        <ng-container matColumnDef="raspuns8">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea A4</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns8}} </td>
        </ng-container>

        <ng-container matColumnDef="raspuns9">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea A5</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns9}} </td>
        </ng-container>

        <ng-container matColumnDef="raspuns10">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea A6</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns10}} </td>
        </ng-container>

        <ng-container matColumnDef="raspuns11">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea A7</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns11}} </td>
        </ng-container>

        <ng-container matColumnDef="raspuns13">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea B1</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns13}} </td>
        </ng-container>

        <ng-container matColumnDef="raspuns14">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea B2</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns14}} </td>
        </ng-container>

        <ng-container matColumnDef="raspuns15">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea B3</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns15}} </td>
        </ng-container>

        <ng-container matColumnDef="raspuns16">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea B4</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns16}} </td>
        </ng-container>

        <ng-container matColumnDef="raspuns17">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea B5</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns17}} </td>
        </ng-container>

        <ng-container matColumnDef="raspuns18">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea B6</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns18}} </td>
        </ng-container>

        <ng-container matColumnDef="raspuns19">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea B7</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns19}} </td>
        </ng-container>

        <ng-container matColumnDef="raspuns20">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea B8</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns20}} </td>
        </ng-container>

        <ng-container matColumnDef="raspuns21">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea C1</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns21}} </td>
        </ng-container>

        <ng-container matColumnDef="raspuns22">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea C2</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns22}} </td>
        </ng-container>

        <ng-container matColumnDef="raspuns23">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea C3</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns23}} </td>
        </ng-container>

        <ng-container matColumnDef="raspuns24">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea C4</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns24}} </td>
        </ng-container>

        <ng-container matColumnDef="raspuns28">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea D1</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns28}} </td>
        </ng-container>

        <ng-container matColumnDef="raspuns29">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea D2</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns29}} </td>
        </ng-container>

        <ng-container matColumnDef="raspuns30">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea D3</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns30}} </td>
        </ng-container>

        <ng-container matColumnDef="upload30">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Document </th>
            <td mat-cell *matCellDef="let element"> <a *ngIf="element.upload30" href={{element.upload30}}
                    class="btn btn-success btn-block" target="_blank">
                    Document
                </a> </td>
        </ng-container>

        <ng-container matColumnDef="raspuns31">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea D4</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns31}} </td>
        </ng-container>

        <ng-container matColumnDef="raspuns32">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea D5</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns32}} </td>
        </ng-container>

        <ng-container matColumnDef="raspuns33">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea D6</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns33}} </td>
        </ng-container>

        <ng-container matColumnDef="raspuns34">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Întrebarea D7</th>
            <td mat-cell *matCellDef="let element"> {{element.raspuns34}} </td>
        </ng-container>










        <ng-container matColumnDef="nrInreg">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Număr depunere </th>
            <td mat-cell *matCellDef="let element"
                [class.rosu]='element.nrInreg!=null && element.nrInreg.indexOf(substr) == 0 && element.nrInregC==null'
                [class.albastru]='element.nrInregC!=null'> {{element.nrInreg}} </td>
        </ng-container>








        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Nu există niciun rezultat pentru "{{input.value}}"</td>
        </tr>
    </table>
</div>
<mat-paginator [pageSizeOptions]="[100, 300, 500, 700, 2000]" showFirstLastButtons></mat-paginator>

<app-pdf-modal #pdfModal></app-pdf-modal>
<app-pdf2-modal #pdf2Modal></app-pdf2-modal>
<app-progres-modal #progresModal></app-progres-modal>