<div bsModal class="modal fade" #structuraModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="structuraModal"
    aria-hidden="true" (onHide)="this.editStructuraForm.reset();">
    <div class="container" *ngIf="editStructuraForm">

        <mat-card>
            <mat-card-content>

                <div class="mat-elevation-z8" style="border-radius: 10px; width: 75%; margin: auto; padding: 10px"
                    *ngIf="popup5">
                    <br>
                    <p style="font-size:20px; font-weight: 500;">Vă rugăm să introduceți numărul de clădiri/corpuri și numărul total de elevi din această structură.<br>Pentru școlile care nu au structuri, vă rugăm să completați aceleași date generale ale școlii și să specificați acest lucru, la Pasul 3 - Explicații Opționale.</p>
                    <button mat-raised-button (click)="popup5=false" style="width: 20%">Am înțeles!</button>
                    <br><br>
                </div>
                <br *ngIf="popup5">

                <div style="text-align:right">
                    <button style="width:20%" [disabled]="chillS" type="button" (click)="this.modal.hide()"
                        mat-raised-button>
                        <span>Închide</span>
                    </button>
                </div>

                <form [formGroup]="editStructuraForm" (ngSubmit)="editUnitate2()" id="thisoneStr"
                    (keydown.enter)="$event.preventDefault()">
                    <h1>{{unitateCurenta.nume}}</h1>

                   
                    <mat-form-field class="full-width-input">
                        <label>Numărul de clădiri/corpuri ale acestei structuri:</label>
                        <input matInput formControlName="nrCladiri" type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189" oninput="this.value = 
                        !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">
                    </mat-form-field>
                    <p *ngIf="this.editStructuraForm.errors?.itsZero"
                        style="color:#DD3333; font-size:12px; text-align:right;">Numarul de clădiri nu poate fi zero.
                    </p>

                    <mat-form-field class="full-width-input">
                        <label class="lmic">Număr total de elevi în această structură, învățământ primar și gimnazial: </label>
                        <input class="imic" matInput formControlName="total" type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189" oninput="this.value = 
                        !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">
                    </mat-form-field>
                    <p *ngIf="this.editStructuraForm.errors?.smallTotal" style="color:#DD3333; font-size:12px; text-align:right">Totalul
                        trebuie sa fie mai mare decât oricare dintre numerele de sub "DIN CARE DOAR COPII:"！</p>
                       <p *ngIf="this.editStructuraForm.errors?.totalZero" style="color:#DD3333; font-size:12px; text-align:right">Totalul
                            elevilor din structură nu poate fi zero</p>

                    <p style="color:rgb(0, 200, 200); font-weight: bold; text-align: left">DIN CARE DOAR COPII:</p>

                    <mat-form-field class="full-width-input">
                        <label class="lmic">romi:
                        </label>
                        <input class="imic" matInput formControlName="romi" type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189" oninput="this.value = 
                        !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">
                    </mat-form-field>

                    <mat-form-field class="full-width-input">
                        <label class="lmic">romi estimați(de către monitor, în urma vizitei pe teren)(opțional):
                        </label>
                        <input class="imic" matInput formControlName="romiE" type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189" oninput="this.value = 
                        !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">
                    </mat-form-field>

                    <mat-form-field class="full-width-input">
                        <label class="lmic">cu dizabilitați cu dosar DGASPC / situații medicale sau certificat de orientare
                            CJRAE:
                        </label>
                        <input class="imic" matInput formControlName="dizabilitati" type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189" oninput="this.value = 
                        !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">
                    </mat-form-field>

                    <mat-form-field class="full-width-input">
                        <label class="lmic">ai căror părinti au cel mult 8 clase absolvite (gimnaziu):
                        </label>
                        <input class="imic" matInput formControlName="parinti" type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189" oninput="this.value = 
                        !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">
                    </mat-form-field>

                    <mat-form-field class="full-width-input">
                        <label class="lmic">beneficiari de burse de ajutor social:
                        </label>
                        <input class="imic" matInput formControlName="burse" type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189" oninput="this.value = 
                        !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">
                    </mat-form-field>

                    <mat-form-field class="full-width-input">
                        <label class="lmic">repetenți:
                        </label>
                        <input class="imic" matInput formControlName="repetenti" type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189" oninput="this.value = 
                        !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">
                    </mat-form-field>

                    <mat-form-field class="full-width-input">
                        <label class="lmic">care nu au participat la cursuri online minim 80% din timp:
                        </label>
                        <input class="imic" matInput formControlName="online" type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189" oninput="this.value = 
                        !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">
                    </mat-form-field>

                    <mat-form-field class="full-width-input">
                        <label class="lmic">care au nevoie de educație remedială:
                        </label>
                        <input class="imic" matInput formControlName="remediala" type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189" oninput="this.value = 
                        !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">
                    </mat-form-field>

                    



                    
                </form>

            </mat-card-content>



            <button [disabled]="chillS || !this.editStructuraForm.valid" type="submit" form="thisoneStr"
                mat-raised-button>
                <span *ngIf="chillS==false">Salvează</span>
                <div class="container">
                    <mat-spinner *ngIf="chillS==true" [diameter]="25" [strokeWidth]="2"></mat-spinner>
                </div>
            </button>
            <br><br>
        </mat-card>


    </div>
</div>