.container {
  width: 50%;
  height: 100%;
  display: flex;
}

mat-card {
  width: 75%;
  height: auto;
  margin: auto;
  border-radius: 10px !important;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

