table {
  width: 100%;
}

.mat-form-field {
  font-size: 20px;
  width: 100%;
}

th.mat-header-cell:first-child {
  border-left: 3px solid lightgrey !important;
  padding-left: 5px;
  padding-right: 5px;
}

th.mat-header-cell:last-child {
  border-right: 3px solid lightgrey !important;
}

th.mat-header-cell {
  border-left: 1px solid lightgrey !important;
  padding-left: 5px;
  padding-right: 5px;
}

td.mat-footer-cell:first-child {
  border-left: 3px solid lightgrey !important;
  padding-left: 5px;
  padding-right: 5px;
}

td.mat-footer-cell:last-child {
  border-right: 3px solid lightgrey !important;
}

td.mat-footer-cell {
  border-left: 1px solid lightgrey !important;
  padding-left: 5px;
  padding-right: 5px;
}

td.mat-cell:first-child {
  border-left: 3px solid lightgrey !important;
  padding-left: 5px;
  padding-right: 5px;
}

td.mat-cell:last-child {
  border-right: 3px solid lightgrey !important;
}

td.mat-cell {
  border-left: 1px solid lightgrey !important;
  padding-left: 5px;
  padding-right: 5px;
}

.mat-paginator {
  background-color: #ffffff00;
  color: rgb(0, 200, 200);
  font-size: 16px;
}

.rosu1 {
  background-color: rgba(255, 0, 0, 0.1);
}

.rosu2 {
  background-color: rgba(255, 0, 0, 0.5) !important;
}

.rosu3 {
  background-color: rgba(255, 0, 0, 1) !important;
}

.rosu4 {
  background-color: rgba(139, 0, 0, 1);
}

.albastru{
  background-color:cyan;
}

.albastru1 {
  background-color: rgba(0, 0, 255, 0.1);
}

.albastru2 {
  background-color: rgba(0, 0, 255, 0.4) !important;
}

.albastru3 {
  background-color: rgba(0, 0, 255, 0.8) !important;
}

.albastru4 {
  background-color: rgba(0, 0, 139, 1);
}

.verde1 {
  background-color: rgba(0, 255, 0, 0.1);
}

.verde2 {
  background-color: rgba(0, 255, 0, 0.4) !important;
}

.verde3 {
  background-color: rgba(0, 255, 0, 1) !important;
}

.verde4 {
  background-color: rgba(0, 139, 0, 1);
}

.mov1 {
  background-color: rgba(128, 0, 128, 0.1);
}

.mov2 {
  background-color: rgba(128, 0, 128, 0.5) !important;
}

.mov3 {
  background-color: rgba(128, 0, 128, 0.8) !important;
}

.mov4 {
  background-color: rgba(69.5, 0, 69.5, 1);
}

::ng-deep .mat-tooltip {
  font-size: 20px !important;
  margin: auto !important;
  padding: auto !important;
  white-space: pre-line !important;
  width: 100% !important;
  height: 100% !important;
  max-width: unset !important;
}

.inviz {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

button {
  width: 100%;
  height: 100%;
}
